style


.headerfont { 
 font-family:'Times New Roman', Times, serif
}


.row {
	border: 3px;
	font-family: 'Times New Roman', Times, serif;
	border-style: solid;
	border-color: transparent;
	border-width: thin;
	text-align: left;
}
.col{
	border: 3px;
	border-style: solid;
	border-color: transparent;
	font-family: 'Times New Roman', Times, serif;
	border-width: thin;
	text-align: left;
}

head {
	margin:100px;
	font-family: 'Times New Roman', Times, serif;
}
h1 {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}
.col{
	border-color: transparent;
}
.p1{
	text-align: left;
	font-family: 'Times New Roman', Times, serif;
	padding-top: 30px;
}
.graph1 {
	flex-wrap: float;
	font-family: 'Times New Roman', Times, serif;
	padding-top: 25px;
}

.mask{
    float: left;
}

.material-symbols-outlined {
  font-variation-settings: 
  'FILL' 0,
  'wght' 1000,
  'GRAD' 1000,
  'opsz' 30
  'float' center, 
}
